table {
    width: 100%
}

.textSwalBorrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcionesSuperiores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}