<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()" class="icono"><i class="fas fa-bars"></i></button>
        <div class="opcionesMenuDerecha">
            <button #btnEmpresas matTooltip="Cambiar de empresa" matTooltipPosition="below" mat-flat-button color="primary" [swal]="ListEmpresas">{{nombreEmpresa()}}</button>
            <div>
                <button mat-button [matMenuTriggerFor]="menu">{{usuario.nombre}}</button>
                <mat-menu #menu="matMenu">
                    <button *ngIf="usuario.role == 'ADMIN_ROLE'" [routerLink]="['usuarios']" mat-menu-item>Usuarios</button>
                    <button mat-menu-item [routerLink]="['calendario']">Calendario</button>
                    <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
                </mat-menu>
            </div>

        </div>


    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="mobileQuery.matches ? 'false' : 'true'">
            <mat-nav-list>

                <mat-list class="mat-elevation-z2 panel-control">
                    <a mat-list-item [routerLink]="['panel-control']"><i class="fas fa-desktop"></i>Panel Control</a>
                </mat-list>

                <mat-accordion>
                    <mat-expansion-panel *ngIf="_usuarioSV.empresa">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Fiscal
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <a mat-list-item [routerLink]="[ 'beneficio', empresa.codigo ]" (click)="ocultarMenu(snav)">
                            <i class="fas fa-hand-holding-usd"></i><span class="margen-left">Beneficio</span>
                        </a>
                        <a mat-list-item [routerLink]="[ 'ingresos', empresa.codigo ]" (click)="ocultarMenu(snav)">
                            <i class="fas fa-coins"></i><span class="margen-left">Ingresos</span>
                        </a>
                        <a mat-list-item [routerLink]="[ 'gastos', empresa.codigo ]" (click)="ocultarMenu(snav)">
                            <i class="fas fa-money-check-alt"></i><span class="margen-left">Gastos</span>
                        </a>
                        <a *ngIf="_usuarioSV.empresa.tipoPersona == -1" mat-list-item [routerLink]="[ 'valor', empresa.codigo ]" (click)="ocultarMenu(snav)">
                            <i class="fas fa-gem"></i><span class="margen-left">Valor</span>
                        </a>

                        <!-- <a mat-list-item [routerLink]="[ '/recetas' ]" routerLinkActive="active" (click)="ocultarMenu(snav)">
                          <i class="fas fa-list-ul"></i><span class="margen-left">Listado</span>
                      </a>
                      <a mat-list-item [routerLink]="[ '/receta/nueva' ]" routerLinkActive="active" (click)="ocultarMenu(snav)">
                          <i class="far fa-plus-square"></i><span class="margen-left">Nueva</span>
                      </a> -->

                    </mat-expansion-panel>
                    <mat-expansion-panel *ngIf="_usuarioSV.empresa">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Laboral
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item [routerLink]="[ 'trabajadores', empresa.codigo ]" (click)="ocultarMenu(snav)">
                            <i class="fas fa-people-carry"></i><span class="margen-left">Trabajadores</span>
                        </a>
                        <a mat-list-item [routerLink]="[ 'costes-trabajadores', empresa.codigo ]" (click)="ocultarMenu(snav)">
                            <i class="fas fa-euro-sign"></i><span class="margen-left">Costes Laborales</span>
                        </a>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

<swal #ListEmpresas title="Empresas asignadas al usuario" [showConfirmButton]="false" [showCloseButton]="true">
    <div *swalPartial>
        <mat-nav-list>
            <a mat-list-item *ngFor="let emp of usuario.empresas" (click)="cambiarEmpresa(emp)"> {{ emp.nombre }} </a>
        </mat-nav-list>
    </div>
    <swal>